/* * {
    font-size: 20px;
}

h1, h2, h3,h4,h5,h6 {
    font-size: 20px;
} */

/* #page1  {
    display: inline;
    
}
​
#page2  {
    display: none;
}
​
#page3  {
    display: none;
}
​
#page4  {
    display: none;
} */
​
/* body { */
    /* background-color: brown; */
    /* background: url('https://img.freepik.com/free-photo/golf-ball-grass-sky-background_36650-71.jpg'); */
    /* margin: 0; */
    /* width: auto; */
    /* padding: 100px; */
/* } */
/* ​
​
form    {
    background-color: lightblue;
    background-position: center;
    width: auto;
    text-align: center;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
​
​
​
h1  {
    text-align: center;
    color: darkblue;
    background-color: lightblue;
    width: 50%;
    margin: auto;
}
​
h2  {
    color: darkblue;
}
​
#select-club-type   {
    background-color:whitesmoke;
    color: darkblue;
    width: 150px;
    height: 40px;
    box-shadow: 0 0 10px darkblue;
    font-size: 16px;
}
​
.loft input:hover {
    background-color: green;
    color: white;
}
​
.loft input:focus  {
    background-color: green;
    color: white;
}
​
.flex input:hover {
    background-color: green;
    color: white;
}
​
.flex input:focus   {
    background-color: green;
    color: white;
}
​
.shaft input:hover {
    background-color: green;
    color: white;
}
​
.shaft input:focus   {
    background-color: green;
    color: white;
} */
